body {
  /*background: #6c3483;*/
  /* font-family: "Poppins"; */
  align-items: center;
}

.main {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.form {
  background-color: white;

  /* width: 35%; */
  min-height: 60%;
  border-radius: 5px;
  padding: 1em;
  position: relative;
}
/* @media all and (max-width: 1000px) {
  .form {
    min-height: 65%;
    display: flex;
    flex-direction: column;
    width: 60%;
  } */
/* } */
.error_color {
  color: #ca5b46;
}
.success_color {
  color: #66b689;
}
.h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0.8em 0em;
  font-weight: 700;
  font-family: "Montserrat" !important;
}
.input {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0.8em auto;
  position: relative;
}
.input input {
  outline: none;
  height: 2em;
  padding: 0.5em;
  font-size: 15px;
}
.error_border {
  border: 1px solid #ca5b46;
}
.success_border {
  border: 1px solid #66b689;
}
.email input {
  border: 1px solid #66b689;
}
.input i {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 15px;
}

.input label {
  font-size: 12px;
}
.input span {
  color: #ca5b46;
  font-size: 13px;
}
.checkbox {
  margin: 1.5em 30px;
  font-size: 12px;
}
.button {
  width: 100%;
  margin: 2em auto;
  display: flex;
}
.button button {
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0.6em;
  width: 85%;
  height: 40px;
  font-family: inherit;
  background-color: #6c3483;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}

.sign_link {
  position: absolute;
  /* bottom: 20px; */
  margin: 0 35px;
  font-size: 12px;
}
.error_text {
  color: #ca5b46;
  align-items: center;
  font-size: 0.8em;
}
.input span {
  text-align: center;
}
.final {
  color: red;
}
.success {
  color: #66b689;
}
